@page "/customers"

@inject NavigationManager NavigationManager
@inject IViewCustomerUseCase ViewCustomerUseCase
@inject IRemoveCustomerUseCase RemoveCustomerUseCase

<h3>Customer List</h3>

<br />

<button class="btn btn-primary" type="button" @onclick="OnClickAddCustomer">Add Customer</button>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Note</th>
            <th>Options</th>
        </tr>
    </thead>
    @if (customers != null) {
        <tbody>
            @foreach (var cust in customers) {
                <tr>
                    <th>@cust.Name</th>
                    <th>@cust.Address</th>
                    <th>@cust.PhoneNumber</th>
                    <th>@cust.Email</th>
                    <th>@cust.Note</th>
                    <th>
                        <button type="button" class="btn btn-link" @onclick="@(() => OnClickEditBtn(cust.CustomerId))">Edit</button>/
                        <button type="button" class="btn btn-link" @onclick="@(() => OnClickRemoveBtn(cust.CustomerId))">Remove</button>
                    </th>
                </tr>
            }
        </tbody>
    }
</table>

@code {
    private IEnumerable<Customer> customers;

    protected override void OnInitialized() {
        base.OnInitialized();
        customers = ViewCustomerUseCase.Execute();
    }

    private void OnClickAddCustomer() {
        NavigationManager.NavigateTo("/addcustomer");
    }

    private void OnClickEditBtn(int customerId) {
        NavigationManager.NavigateTo($"/editcustomer/{customerId}");
    }

    private void OnClickRemoveBtn(int customerId) {
        RemoveCustomerUseCase.Execute(customerId);
    }
}