@page "/customers"

@inject IViewCustomerUseCase ViewCustomerUseCase

<h3>Customer List</h3>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Note</th>
        </tr>
    </thead>
    @if (customers != null) {
        <tbody>
            @foreach (var cust in customers) {
                <tr>
                    <th>@cust.Name</th>
                    <th>@cust.Address</th>
                    <th>@cust.PhoneNumber</th>
                    <th>@cust.Email</th>
                    <th>@cust.Note</th>
                </tr>
            }
        </tbody>
    }
</table>

@code {
    private IEnumerable<Customer> customers;

    protected override void OnInitialized() {
        base.OnInitialized();
        customers = ViewCustomerUseCase.Execute();
    }
}